{% assign pagelang = page.path | split: '/' | first %} 
<!DOCTYPE html>
<html lang="{{ pagelang }}">
<head>
	<base href="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
	<script>
		var baseurl = window.location.pathname.replace( '{{ page.url }}', '' );
		baseurl = baseurl.slice(-1) == '/' ? baseurl : baseurl + '/';
		$('base').attr( 'href', baseurl );
        </script>
	<script src="https://cdn.jsdelivr.net/jquery.jscroll/2.2.4/jquery.jscroll.min.js"></script>
	<title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
	<header>{{ site.title }}</header>
	<nav></nav>

	{% if page.slug == 'timeline' %}
	{% include timeline.html %}
	{% elsif page.slug == 'tagpage' %}
	{% include tags.html %}
	{% else %}
	{% include post.html %}
	{% endif %}
</body>
</html>

